.home {
    display : flex;
    flex-direction: column;
}

.image__content img{
    width : 100%;
    height: 84vh;
    object-fit: cover;
}

.content{
    position: absolute;
    width: 100%;
    height : 100%;
    display : flex;
    justify-content: space-around;
    align-items: center;
    color : white;
    font-size : 30px;
    font-weight: 700;
}


.footer {
    display : flex;
    width : 100%;
    height : 100px;
    justify-content: space-around;
    align-items: center;
    z-index : 1;
}

.copy {
    font-size : 10px;
}

.icon span{
    padding-left: 20px;
}

.icon a {
    color : black;
}