.userLoc__container {
    width : 100%;
    height: 100%;
    display : flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(242, 240, 240);
}

.userLoc__content {
    width : 90%;
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.userLoc__number {
    font-weight: 800;
}

.userLoc__content ul {
    list-style: none;
}

.userLoc__loading {
    display : flex;
    width : 100%;
    height : 100%;
    justify-content: center;
    align-items: center;
}